 /*
body {
    height: 100vh;
    overflow: hidden;
    background: linear-gradient(315deg, #ffffff 0%, #d9dee4 74%);

  }
*/


 .signup-heading {
     margin-top: 1cm !important;
     margin-bottom: 2cm !important;
 }

 .vh-100 {
     height: 100vh;
 }
 .d-flex {
     display: flex;
 }
 .justify-content-center, .align-items-center, .text-center {
     justify-content: center;
     align-items: center;
     text-align: center !important;
 }
 .text-black {
     color: #000000 !important;
 }
 .card {
     border-radius: 1cm;
 }
 .fw-bold {
     font-weight: bold;
 }
 .mb-5 {
     margin-bottom: 3cm !important;
 }
 .mx-4, .mb-4 {
     margin-left: 1.5cm !important;
     margin-right: 1.5cm !important;
 }

 /*Footer*/
 .footer {
     position: absolute;
     bottom: 0;
     left: 0;
     right: 0;
     padding: 2rem;
     background: purple;
     color: white;
     font-weight: 500;
     display: flex;
     justify-content: center;
     align-items: center;
     gap: 0.2rem;
 }

 /*Admin Page*/

 /*Por tabelas "Bonitas"*/

 .rounded-container {
     border-radius: 15px;
     border: 1px solid black;
     overflow: hidden;
 }


 .curvas-text {
     margin: 0;
     font-size: 18px;
     font-weight: bold;
     color: #333;
 }


 /*Navbar*/

 .navbar-brand-centered {
     position: absolute;
     left: 50%;
     transform: translateX(-50%);
 }


 .navbar-brand-centered {
     position: absolute;
     left: 50%;
     transform: translateX(-50%);
 }

 .rounded-container {
     border: 2px solid #ccc;
     border-radius: 15px;
     padding: 20px;
 }

 .task-list th {
     font-weight: bold;
 }

 .task-list td, .task-list th {
     vertical-align: middle;
 }

 .btn-action {
     width: 70px;
 }

 .btn-action .btn {
     width: 100%;
 }


 .menuright{
     margin-right: 2cm;
 }

 .admincenter{
     text-align: center;
 }


 .goncte{
    margin-left: 30cm;
 }