 
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <link rel="stylesheet" href="../Styles/profile.css">
  <title>Register</title>
  <link rel="shortcut icon" type="image/jpg" href="../Assets/favicon.png"/>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="../Styles/styles.css" rel="stylesheet">
</head>
<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
          <div class="navbar-header">
              <a class="navbar-brand" href="index.html">Confuzzle</a>
          </div>
          

        </div>
             

  </nav>



</header>
<body>

  <section class="vh-100 d-flex justify-content-center align-items-center" style="background-color: #eee;">
    <div class="card text-black" style="border-radius: 15px;">
      <div class="card-body p-2">
        <div class="row justify-content-center">
          <div class="col-md-6">
            <div class="text-center mb-2">
              <img src="../Assets/confuzzle-high-res-logo.png" class="img-fluid" alt="Image">
            </div>  
          </div>
          <div class="col-md-6">
            <h1 class="text-center signup-heading fw-bold mb-2">Sign up</h1>

            <form id="signup-form" class="mx-2" action="Dashboard.html">

              <div class="mb-3 row align-items-center">
                <label for="username" class="col-sm-3 col-form-label">Username</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control form-control-sm" id="mName" name="username" placeholder="Your Username" required minlength="3">
                  <div id="usernameMessage" class="invalid-feedback"></div> <!-- Added error message element -->
                </div>
              </div>


              <div class="mb-3 row align-items-center">
                <label for="email" class="col-sm-3 col-form-label">Email</label>
                <div class="col-sm-9">
                  <input type="email" class="form-control form-control-sm" id="mEmail" name="email" placeholder="Your Email" required>
                </div>
              </div>

              <div class="mb-3 row align-items-center">
                <label for="password" class="col-sm-3 col-form-label">Password</label>
                <div class="col-sm-9">
                  <input type="password" class="form-control form-control-sm" id="mPassword" name="password" placeholder="Password" required>
                  <div id="passwordMessage" class="invalid-feedback"></div> <!-- Added error message element -->
                </div>
              </div>

              <div class="mb-3 row align-items-center">
                <label for="password2" class="col-sm-3 col-form-label">Repeat Password</label>
                <div class="col-sm-9">
                  <input type="password" class="form-control form-control-sm" id="password2" name="password2" placeholder="Repeat your password" required>
                  <div id="password-match-error" class="invalid-feedback" style="display: none;">Passwords do not match</div>
                </div>
              </div>




              <div class="mb-3 form-check d-flex justify-content-center">
                <label class="form-check-label text-center">
                  <input class="form-check-input me-2" type="checkbox" value="" id="form" required>
                  I agree all statements in <a href="Terms.html" target="_blank">Terms of service</a>
                </label>
              </div>

              <div class="text-center mb-2">
                <button type="button" class="btn btn-primary btn-sm" onclick="newUser()">Registar</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>


<!---Por aqui um modal para os terms os servico-->>



<footer>
  <div class="row">
      <div class="col-md-12">
        <p>&copy; 2024 Your Website. All rights reserved to Confuzzle</p>
      </div>
  </div>
</footer>



<script>
  document.getElementById('signup-form').addEventListener('submit', function(event) {
      var password = document.getElementById('password').value;
      var confirmPassword = document.getElementById('password2').value;

      if (password !== confirmPassword) {
          event.preventDefault(); 
          document.getElementById('password-match-error').style.display = 'block';
      } else {
          document.getElementById('password-match-error').style.display = 'none';
      }
  });
</script>




  <script>
      const newUser = async () => {
        var dados = {
          name: document.getElementById("mName").value,
          email: document.getElementById("mEmail").value,
          password: document.getElementById("mPassword").value,
        };
        
        fetch("http://localhost:4242/api/pgs/user/create", {
          method: "POST",
          headers: { "Content-Type": "application/json" },
          body: JSON.stringify(dados),
        })
          .then((response) => {
            // Verifica se a resposta foi bem sucedida
            if (!response.ok) {
              throw new Error("Problem colecting data");
            }
            // Converte a resposta para JSON
            return response.json();
          })
          .then((data) => {
            // Faz algo com os dados
            //console.log(data);
            resposta = "The user called " + dados.name + " was added with success!";
            alert(resposta);
            //listUser();
          })
          .catch((error) => {
          console.error("Error detected:", error);
          alert("An error occurred: " + error.message); // Example user feedback
          });
      };

  </script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</html>   

</body>
</html>